
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz con Carrusel y Formulario de Inicio de Sesión</title>
</head>
<body>
    <div class="container">
        <div class="carousel">
            <img src="../../assets/IMG 1.jpg" alt="Imagen 1">
            <img src="../../assets/IMG 2.jpg" alt="Imagen 2">
            <img src="../../assets/IMG 3.jpg" alt="Imagen 3">
        </div>
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Nombre de usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit" class="btn btn-success">Iniciar</button>
            </form>
            <a routerLink="/usu">Olvide mi contraseña</a>
        </div>
    </div>
</body>
